<script type="text/javascript">
    function BlindsController($scope){
        $scope.position = "Up";
        $scope.pushData = function(){
            var push = {"furniture" : "blinds", "position" : $scope.position};
            udptransmit.initialize("18.85.54.98", 8002);
            udptransmit.sendMessage(JSON.stringify(push));
        };
    }
</script>
<ons-page class="center">
    <h2>Choose Position</h2>
    <ons-radio-button ng-change="pushData()" ng-model="position" value="1" right-label="Up" name="level-group"></ons-radio-button>
    <ons-radio-button ng-change="pushData()" ng-model="position" value="2" right-label="Down" name="level-group"></ons-radio-button>
    <ons-radio-button ng-change="pushData()" ng-model="position" value="3" right-label="Stop" name="level-group"></ons-radio-button>
</ons-page>
