<script type="text/javascript">
    function LivingRoomController($scope){
        $scope.position = "Default Mode";
        $scope.pushData = function(){
            var push = {"furniture" : "living room", "position" : $scope.position};
            udptransmit.initialize("18.85.54.98", 8002);
            udptransmit.sendMessage(JSON.stringify(push));
        };
    }
</script>
<ons-page class="center" ng-controller="LivingRoomController">
    <h2>Choose Mode</h2>
    <ons-radio-button ng-change="pushData()" ng-model="position" value="48" right-label="Default Mode" name="level-group"></ons-radio-button>
    <ons-radio-button ng-change="pushData()" ng-model="position" value="49" right-label="Sleep Mode" name="level-group"></ons-radio-button>
    <ons-radio-button ng-change="pushData()" ng-model="position" value="50" right-label="Work Mode" name="level-group"></ons-radio-button>
    <ons-radio-button ng-change="pushData()" ng-model="position" value="51" right-label="Dining Mode" name="level-group"></ons-radio-button>
    <ons-radio-button ng-change="pushData()" ng-model="position" value="52" right-label="Move Into Living Room" name="level-group"></ons-radio-button>
    <ons-radio-button ng-change="pushData()" ng-model="position" value="53" right-label="Move Out Of Living Room" name="level-group"></ons-radio-button>
 </ons-page>
