<ons-navigator title="Home Settings">
<ons-page class="center">
	<h1>Adjust Home</h1>
    <ul class="topcoat-list">
        <ons-list-item class="topcoat-list__item--tappable topcoat-list__item__line-height"
                        ng-click="ons.navigator.pushPage('lights.html', {title: 'Lights'})">Lights</ons-list-item>
        <ons-list-item class="topcoat-list__item--tappable topcoat-list__item__line-height"
                        ng-click="ons.navigator.pushPage('livingRoomOptions.html', {title: 'Living Room Options'})">Living Room Options</ons-list-item>
        <ons-list-item class="topcoat-list__item--tappable topcoat-list__item__line-height"
                        ng-click="ons.navigator.pushPage('projector.html', {title: 'Projector'})">Projector</ons-list-item>
        <ons-list-item class="topcoat-list__item--tappable topcoat-list__item__line-height"
                        ng-click="ons.navigator.pushPage('blinds.html', {title: 'Blinds'})">Blinds</ons-list-item>   
    </ul>
</ons-page>
</ons-navigator>
