<script type="text/javascript">
    function ProjectorController($scope){
        $scope.position = 1;
        $scope.pushData = function(){
            var push = {"furniture" : "projector", "position" : Number($scope.position)};
            udptransmit.initialize("18.85.54.98", 8002);
            udptransmit.sendMessage(JSON.stringify(push));
        };
    }
</script>
<ons-page class="center" ng-controller="ProjectorController">
    <h2>Choose Position</h2>
    <ons-radio-button ng-change="pushData()" ng-model="position" value="1" right-label="1" name="level-group"></ons-radio-button>
    <ons-radio-button ng-change="pushData()" ng-model="position" value="2" right-label="2" name="level-group"></ons-radio-button>
    <ons-radio-button ng-change="pushData()" ng-model="position" value="3" right-label="3" name="level-group"></ons-radio-button>
    <ons-radio-button ng-change="pushData()" ng-model="position" value="4" right-label="4" name="level-group"></ons-radio-button>
</ons-page>
